.gameboard {
    background-color: #ccc;
    width: 30vw;
    height: 30vw;
    margin: 0 auto;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-content: flex-end; 
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}
.cell {
    background-color: #ffffff;
    width: 9.5vw;
    height: 9.5vw;
}
.close-x {
    stroke:#58a8ff;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
}
.circle, .cross{
    opacity: 1;
    transition: opacity 0.3s ease-out;
}
.cross.hidden, .circle.hidden {
    opacity: 0; 
    height: 0;
    overflow: hidden;
}
.not-clickable{
    pointer-events:none;
}